<div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    @foreach (var column in Columns)
                    {
                        <th scope="col">
                            <span class="col-@column.Value">@column.Key</span>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Rows; i++)
                {
                    <tr>
                        @foreach (var column in Columns)
                        {
                            <td>
                                <span class="placeholder placeholder-wave rounded bg-secondary-subtle col-@column.Value"></span>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public required int Rows { get; set; }
    
    [Parameter]
    public required Dictionary<string, int> Columns { get; set; }
}
