@* @using Microsoft.AspNetCore.Components.Authorization *@

<nav class="navbar navbar-expand-md bg-primary border-bottom box-shadow">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPages" aria-controls="navbarPages" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarPages">
            <div class="navbar-nav">
                <div class="nav-item px-3">
                    <a class="nav-link text-white" href="">
                        <span class="bi bi-house" aria-hidden="true"></span>
                        <span>&nbsp;</span>
                        <span>Home</span>
                    </a>
                </div>
                
                @* Customer Pages *@
                @foreach (var item in NavigationItems)
                {
                    <div class="nav-item px-3">
                        <a class="nav-link text-white navbar-text" href="@item.Href">
                            @if (!string.IsNullOrEmpty(item.Icon))
                            {
                                <span class="@item.Icon" aria-hidden="true"></span>
                                <span>&nbsp;</span>
                            }
                            <span>@item.Text</span>
                        </a>
                    </div>
                }

                @* <AuthorizeView Roles="Admin"> *@
                @*     <Authorized> *@
                @*         <div class="nav-item px-3"> *@
                @*             <a class="nav-link" href="admin"> *@
                @*                 <span class="bi bi-person-fill" aria-hidden="true"></span> *@
                @*                 <small>Admin Center</small> *@
                @*             </a> *@
                @*         </div> *@
                @*     </Authorized> *@
                @* </AuthorizeView> *@
            </div>
        </div>
    </div>
</nav>

@code {
    [Parameter]
    public List<NavMenuItem> NavigationItems { get; set; } = new();
}