<!-- DebugAssemblies.razor -->
@page "/debug-assemblies"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using System.Reflection

<h3>Debug Assemblies (.NET 9)</h3>

<button @onclick="CheckAssemblies">Check Loaded Assemblies</button>

@if (assemblyInfo.Any())
{
    <div>
        <h4>Loaded Assemblies:</h4>
        @foreach (var info in assemblyInfo)
        {
            <div>
                <strong>@info.Key</strong>
                <ul>
                    @foreach (var route in info.Value)
                    {
                        <li>@route</li>
                    }
                </ul>
            </div>
        }
    </div>
}

@code {
    private Dictionary<string, List<string>> assemblyInfo = new();

    private void CheckAssemblies()
    {
        assemblyInfo.Clear();

        var assemblies = new[] {
            typeof(Program).Assembly,
            typeof(AuthBlocksWeb._Imports).Assembly
        };

        foreach (var assembly in assemblies)
        {
            var routes = new List<string>();
            var types = assembly.GetTypes()
                .Where(t => t.IsSubclassOf(typeof(ComponentBase)))
                .ToList();

            foreach (var type in types)
            {
                var routeAttributes = type.GetCustomAttributes<RouteAttribute>();
                foreach (var route in routeAttributes)
                {
                    routes.Add($"{route.Template} -> {type.Name}");
                }
            }

            assemblyInfo[assembly.GetName().Name ?? "Unknown"] = routes;
        }

        StateHasChanged();
    }
}