@using SkipperModels.Common
@using SkipperModels.Entities
@using SkipperWeb.ApiClients

@inject VesselClient Client
@inject NavigationManager Nav

@rendermode InteractiveServer

@page "/vessels"

<h4>Vessels</h4>

<div class="container d-flex gap-2 align-items-center flex-row mb-2">
    <div class="flex-fill mr-2">
        <div class="input-group input-group">
            <span class="input-group-text">
                <i class="bi bi-search"></i>
            </span>
            <InputText 
                class="form-control" 
                placeholder="Search vessels..."
                @bind-Value="ViewModel.SearchTerm" /> 
        </div>
    </div>
    <div class="flex-shrink-1">
        <button class="btn bg-primary btn-dark"
        @onclick="NewVessel">
            Enter New Vessel <span class="bi bi-plus-circle"></span>
        </button>
    </div>
</div>

@if (ViewModel.Page != null)
{
    <ul>
        @foreach (Vessel vessel in ViewModel.Page.Items)
        {
            <li>@vessel.Name</li>
        }
    </ul>
}

@code {

    private VesselsViewModel ViewModel { get; } = new();

    protected async override Task OnInitializedAsync()
    {
        var result = await Client.GetByPage(new PagedQuery { Page = ViewModel.PageNumber });
        if (result.Success) { ViewModel.Page = result.Value; } // TODO show the error
    }

    private void NewVessel()
    {
        Nav.NavigateTo("/vessels/new");

    }

}